*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
padding-top: 10vh;
    overflow-x: hidden;
    background-color: #F2F2F2;
    
}
  .stop-scrolling {
    height: 100vh;
    overflow: hidden;
    }
 .blocker{
      position:fixed;
      width:100%;
      height:100%;
      left:0;
      top:0;
      right:0;
      bottom:0;
      z-index:9999;
 }



 .b3 {
    
    z-index: 2;
    position: relative;
  overflow: hidden;
 width: 0vw;
 height: 80vh; 
 background-color:#000d1a;
  transition: 0.5s ease-in-out;

  
}

.profileimg {
width: 36vw;
mix-blend-mode: screen;
height: 100%;
z-index: 2;
    object-fit: cover;
}
.imgbox2 {
     z-index: 2;
     
    opacity: 1;
    position: absolute;
     display: flex;
 flex-direction: column;
justify-content: space-around;
align-items: center;

 height: 100%;
 float: left;
 background-color: #000d1a;


}


.infotextwrapper {
    position: absolute;
 right: 0;

 width: 30vw;
 height: 100%;
 text-align: left;
 opacity: 0.9;
  transition: 0.5s ;
 color: whitesmoke;
 background-color:#000d1a;

 display: flex;
 flex-direction: column;
 justify-content: center;
}
.infotext {
    transition: 0.8s ease-in-out; 
    opacity: 1;

      color: #ffffff;
   
      margin-top: 0px;
      font-size: 12px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      width: 100%;
      
}
/*
.project_title_info  {
    color: #ffffff;
    font-size: 32px;
    font-family: 'Crimson Pro', serif;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 4px;
   
}

.project_type_info {
    color: #ffffff;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 12px;


}

*/


.project_title_inf  {
    color: #ffffff;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin-bottom: 4px;
}

.project_type_inf {
    color: #ffffff;
    font-size: 18px;
    font-family: 'Crimson Pro', serif;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 8px;


}

.comforts {
  display: flex;
  padding-top: 20px;
  
}

.skills {
    width: 32px;
    margin-right: 8px;
}
ul {
  list-style: none; /* Remove default bullets */
  color: #f2f2f2;
  
  font-size: 14px;
  font-family: 'Crimson Pro', serif;
  font-weight: 500;
  font-style: italic;
    
}



li {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.designtool {
  padding-left: 50px;
}

.icon {
    display: flex;
       font-family: 'Montserrat', sans-serif;
  font-weight: 400;
    font-size: 14px;
    align-items: center;

}

.icon img {
    width: 20px;
    margin-right: 8px;
}
.openinfo {
    width: 70vw;
     transition: 0.5s ease-in-out 1.4s;
}
.info_page {
    position: fixed;
    top: 0;
    padding-top: 10vh;
    left: 0;
    width: 100vw;
    height: 100%;
    
    background-color: #000d1a;
    
    opacity: 0;
    transition: 0.5s ease-in-out 1s;
}
.info_page_opa {
    opacity: 1;
    z-index: 11;
    transition: 0.5s ease-in-out 1s;
}



.gowhite {
    color: #F2F2F2;
    transition: 1.2s ease-in-out 1.2s;
}
.logowhite {
    fill: #F2F2F2;
    stroke: #F2F2F2;
    transition: 1.2s ease-in-out 1s;
}
#log0 {
    transition: 1.2s ease-in-out 1s;
}
#right_link {
    transition: 1.2s ease-in-out 1s;
}
#right_link1 {
    transition: 1.2s ease-in-out 1s;
}
a {
    text-decoration: none;
    color: #000d1a;
}

nav {
   transition: 0.5s ease-in-out 0.95s;
     position: fixed;
     top: 0;
     display: flex;
    justify-content: space-between;
    padding: 0 40px;
  align-items: center;
     width: 100%;
     height: 100px;
  
     z-index: 30;
}


svg {
      width: 50px;
    fill: #000d1a; 
     stroke: #000d1a;                     
    animation: visi 2s forwards 1.36s ease-in-out;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

#log0:hover {
  stroke-width: 1px;
    fill: #F2F2F2;
    transition: 0.5s ease-in-out;
}


.rightlink {
   font-family: 'Montserrat', sans-serif;
  font-weight: 400;
    font-size: 12px;
     animation: visi 2s forwards 1.36s ease-in-out;
opacity: 0;
   width: 140px;
 
   display: flex;
   justify-content: space-between;
   transition: 0.5s ease-in-out;
  
}


.h3 {
   font-family: 'Montserrat', sans-serif;
  
    color: #000d1a;
    display: flex;
    flex-direction: column;
 margin: auto;
 position: absolute;
 z-index: 30;
 top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 
 font-size: 18px;
 font-weight: 600;
}







.startani {

 opacity: 0;
    position: fixed;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
   
    overflow: hidden;
     background-color:#000d1a;
     color: whitesmoke;
     text-align: center;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     animation: welcomeani 2s forwards ease-in-out;
}

@keyframes welcomeani {
    0% {
       opacity: 1;
        z-index: -10;
    }
   80% {
       opacity: 1;
     
        
   }
    100% {
        opacity: 0;
        z-index: -10;
      
        
    }
}


@keyframes startanimate {
    0% {
         width: 0.5px;
        z-index: 20;
        height: 0px;
    }
    20% {
         width: 0.5px;
        height: 100%;
         z-index: 20;
    }

    50% {
         width: 100%;
         z-index: 20;
         height: 100%;
         opacity: 1;

    }
    90% {
         width: 100%;
         z-index: 20;
         height: 100%;
         opacity: 1;

    }
      98% {
          width: 100%;
         z-index: 20;
         height: 100%;
         opacity: 0;

    }
       100% {
         width: 40vw;
         z-index: 20;
         height: 100%;
         opacity: 0;

    }
}
.s1 {
    position: relative;
   
 width: 100vw;
 display: flex;
 flex-direction: column;
justify-content: space-around;
align-items: center;
}
 

.siden {
margin: 15px 0;
color:#000d1a;
font-weight: 900;
    font-size: 18px;
}

.box-wrapper{
    scroll-snap-stop: always;
    transition: 0.5s ease-in-out;
    overflow: hidden;
    margin: 0 0 50px 0;
    display: flex;
 

}

.number {
   font-family: 'Crimson Text', serif;
    margin-right: 20px;
     display: flex;
    flex-direction: column;
    justify-content: space-between;
 height: 30vh;


}

.line {
    
  margin: 0 auto;
    width: 0.5px;
    height: 0vh;
     background-color:#000d1a;
   animation: drawl 1.36s forwards 1.36s ease-in;
}

@keyframes drawl {
    0% {
        height: 0vh;
    }
    100% {
        height: 34vh;
    }
} 

.b2 {
    
    z-index: 2;
    position: relative;
  overflow: hidden;
 width: 40vw;


 height: 30vh;
 background-color:#000d1a;

  transition: 0.5s ease-in-out;
}


.b1 {
    z-index: 2;
   
     opacity: 0;
    position: relative;
  overflow: hidden;
 width: 40vw;
 height: 30vh;
 background-color:#000d1a;

  transition: 0.5s ease-in-out;
}






/* NEW TEXT */



.text-wrapper {
    animation: textleave 2s;
    
 position: absolute;
 right: 0;

 width: 20vw;
 height: 100%;
 text-align: left;
 opacity: 0.9;
  transition: 0.5s ;
 color: whitesmoke;
 background-color:#000d1a;

 display: flex;
 flex-direction: column;
 justify-content: center;
 
 padding: 24px;


}

@keyframes textleave {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.text-wrapper:hover {
     opacity:1;
    
    filter: brightness(110%);
    transition: 0.5s ease-in-out;
}

/* 

.text-wrapper:hover .button {
    animation: jump 2s infinite ease-in-out;
}

.text-wrapper:hover .arrow {
    animation: jump1 2s infinite ease-in-out;
}

@keyframes jump {
    0% {
        margin-left: 0;
    }
    50% {
        margin-left: 8px;
    }
    100% {
        margin-left: 0;
    }
}

@keyframes jump1 {
    0% {
        margin-left: 0;
    }
    50% {
        margin-left: 4px;
    }
    100% {
        margin-left: 0;
    }
}
*/

.project_title  {
    color: #ffffff;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin-bottom: 4px;
}

.project_type {
    color: #ffffff;
    font-size: 16px;
    font-family: 'Crimson Pro', serif;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 8px;


}

.project_skills {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
   
margin-bottom: 8px;
}

.project_skills_design {
    color: #020D19;
    background-color: #4CD392;
    padding: 4px 8px;
    margin: 4px;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Crimson Pro', serif;
    font-weight: 500;
    font-style: italic;

}

.project_tools {
    display: flex;
    flex-wrap: wrap;
}

.project_tools_img img {
    width: 32px;
    margin: 4px;
    
}

/*   PROJECT TOOLS HOVER   */

.text-wrapper .figma:hover + .figmahover {
   display: block;
   position: absolute;
}

.text-wrapper .visual:hover + .visualhover {
    display: block;
    position: absolute;
 }

 .text-wrapper .html:hover + .htmlhover {
    display: block;
    position: absolute;
 }

 .text-wrapper .css:hover + .csshover {
    display: block;
    position: absolute;
 }

 .text-wrapper .jquery:hover + .jqueryhover {
    display: block;
    position: absolute;
 }
 
 .text-wrapper .js:hover + .jshover {
     display: block;
     position: absolute;
  }
 
  .text-wrapper .psd:hover + .psdhover {
     display: block;
     position: absolute;
  }
 
  .text-wrapper .xd:hover + .xdhover {
     display: block;
     position: absolute;
  }

  .text-wrapper .ae:hover + .aehover {
    display: block;
    position: absolute;
 }
 
 .text-wrapper .firebase:hover + .firebasehover {
     display: block;
     position: absolute;
  }
 
  .text-wrapper .unity:hover + .unityhover {
     display: block;
     position: absolute;
  }
 
  .text-wrapper .blender:hover + .blenderhover {
     display: block;
     position: absolute;
  }

  .text-wrapper .csharp:hover + .csharphover {
    display: block;
    position: absolute;
 }

.figmahover {
    display: none;
    background-color: white;
    border-radius: 4px;
    padding: 4px 8px;
    color: #020D19;
    font-size: 16px;
    font-family: 'Crimson Pro', serif;
    font-weight: 500;
    font-style: italic;
}

.visualhover {
    display: none;
    background-color: white;
    border-radius: 4px;
    padding: 4px 8px;
    color: #020D19;
    font-size: 16px;
    font-family: 'Crimson Pro', serif;
    font-weight: 500;
    font-style: italic;
}

.htmlhover {
    display: none;
    background-color: white;
    border-radius: 4px;
    padding: 4px 8px;
    color: #020D19;
    font-size: 16px;
    font-family: 'Crimson Pro', serif;
    font-weight: 500;
    font-style: italic;
}
.csshover {
    display: none;
    background-color: white;
    border-radius: 4px;
    padding: 4px 8px;
    color: #020D19;
    font-size: 16px;
    font-family: 'Crimson Pro', serif;
    font-weight: 500;
    font-style: italic;
}
.jqueryhover {
    display: none;
    background-color: white;
    border-radius: 4px;
    padding: 4px 8px;
    color: #020D19;
    font-size: 16px;
    font-family: 'Crimson Pro', serif;
    font-weight: 500;
    font-style: italic;
}
.jshover {
    display: none;
    background-color: white;
    border-radius: 4px;
    padding: 4px 8px;
    color: #020D19;
    font-size: 16px;
    font-family: 'Crimson Pro', serif;
    font-weight: 500;
    font-style: italic;
}
.psdhover {
    display: none;
    background-color: white;
    border-radius: 4px;
    padding: 4px 8px;
    color: #020D19;
    font-size: 16px;
    font-family: 'Crimson Pro', serif;
    font-weight: 500;
    font-style: italic;
}
.aehover {
    display: none;
    background-color: white;
    border-radius: 4px;
    padding: 4px 8px;
    color: #020D19;
    font-size: 16px;
    font-family: 'Crimson Pro', serif;
    font-weight: 500;
    font-style: italic;
}
.xdhover {
    display: none;
    background-color: white;
    border-radius: 4px;
    padding: 4px 8px;
    color: #020D19;
    font-size: 16px;
    font-family: 'Crimson Pro', serif;
    font-weight: 500;
    font-style: italic;
}
.blenderhover {
    display: none;
    background-color: white;
    border-radius: 4px;
    padding: 4px 8px;
    color: #020D19;
    font-size: 16px;
    font-family: 'Crimson Pro', serif;
    font-weight: 500;
    font-style: italic;
}
.unityhover {
    display: none;
    background-color: white;
    border-radius: 4px;
    padding: 4px 8px;
    color: #020D19;
    font-size: 16px;
    font-family: 'Crimson Pro', serif;
    font-weight: 500;
    font-style: italic;
}
.csharphover {
    display: none;
    background-color: white;
    border-radius: 4px;
    padding: 4px 8px;
    color: #020D19;
    font-size: 16px;
    font-family: 'Crimson Pro', serif;
    font-weight: 500;
    font-style: italic;
}
.firebasehover {
    display: none;
    background-color: white;
    border-radius: 4px;
    padding: 4px 8px;
    color: #020D19;
    font-size: 16px;
    font-family: 'Crimson Pro', serif;
    font-weight: 500;
    font-style: italic;
}

/*  PROJECT DESCRIPTION  */


.project_description {
    color: #ffffff;
   
    margin-top: 16px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    width: 100%;
}

.button {
    margin-top: 40px;
  

    color: white;
    font-size: 20px;
    font-family: 'Crimson Pro', serif;
    font-weight: 500;
    font-style: italic;
   
    

}

.arrow {
    width: 12px;
    height: 12px;
    margin-left: 4px;
}

/* OLD TEXT */



.textcover {
     position: absolute;
 right: 0;
 bottom: 0;
 width: 20vw;
 height: 100%;    
    background-color: #000d1a;
z-index: 2;
    transition: 0.2s ease-in-out;
}

.box-wrapper:hover .textcover {
   height: 0%;
   transition: 0.8s ease-in-out 0.2s;
}

.text {
    transition: 0.8s ease-in-out; 
    opacity: 0;
font-family: 'Montserrat', sans-serif;
      font-size: 0.65em;
     
      font-weight: 300;
      
}
.box-wrapper:hover .text {
    opacity: 0.9;
  
   transform: translateY(-20px);
   transition: 1.2s ease-in-out;
}

.title {
  font-size: 0.8em;
    font-weight: 600;
   
}
.role {
   
    font-weight:600;
   
}
.explain {
      
       font-size: 10px;
}
.imgbox1 {
     z-index: 2;

    opacity: 0;
    position: absolute;
     display: flex;
 flex-direction: column;
justify-content: space-around;
align-items: center;
width: 40vw;
 height: 100%;
 float: left;


}

@keyframes visi {
    0% {
        opacity: 0;
    }
   
     100% {
        opacity: 1;
    }
}

.imgb {
    z-index: 2;
     position: absolute;
     animation: visi 2s forwards ease-in;
    
    overflow: hidden;
     display: flex;
 flex-direction: column;
justify-content: space-around;
align-items: center;
width: 40vw;
 height: 100%;
 float: left;
 background-color: whitesmoke;

}

.smallbox {
    width: 0;
}
.img {
width: 40vw;
height: 100%;
z-index: 2;
    object-fit: cover;
}

.box-wrapper:hover .b1 {
    width: 60vw;
    transition: 0.5s ease-in-out;
}
.box-wrapper:hover .b2 {
    width: 60vw;
    transition: 0.5s ease-in-out;
}




[data-aos="grow"].aos-animate {
    height: 80vh;
    margin-bottom: 15vh;
    
}
[data-aos="growb"].aos-animate {
    height: 80vh; 
}

[data-aos="growbottom"].aos-animate {
   
   height: 20vh;
   
}

.bottomsup {
    display: flex;
   justify-content: center;
   align-items: center;
color: whitesmoke;
  height: 1px;
  width: 100vw;
font-family: 'Montserrat', sans-serif;
  
    font-size: 14px;
  background-color: #000d1a;
 position: absolute;
bottom: 0;
}
.space {
height: 20vh;
width: 10px;

}








@media screen and (max-width: 1024px) {


[data-aos="growbottom"].aos-animate {
   
   height: 100%;
   
}

.box-wrapper {
    margin-bottom: 100px;
}

.bottomsup {
    display: flex;
   justify-content: center;
   align-items: center;
color: whitesmoke;
  height: 1px;
  width: 100vw;
 font-family: 'Montserrat', sans-serif;
  
    font-size: 14px;
  background-color: #000d1a;
 position: absolute;
bottom: 0;
}


  [data-aos="grow"].aos-animate {
    height: 80vh;
    margin-bottom: 0vh;
    
}
[data-aos="growb"].aos-animate {
    height: 20vh; 
}


.openinfo {
    width: 90vw;
     transition: 0.5s ease-in-out 1.4s;
}

.navblack {
    background-color:#000d1a;
     transition: 0.5s ease-in-out 0.95s;
}
.b1 {
    height: 20vh;
     width: 80vw;
}

.b2 {
    
   height: 20vh;
     width: 80vw;
}

.smallbox {
    width: 0px;
}
.number {
    margin-right: 15px;
  height: 20vh;

}
.line {
    
  margin: auto;
    width: 0.5px;
    height: 20vh;
     background-color:#000d1a;
     
}

.imgb {
 width: 80vw;
 

}

.imgbox1 {
    width: 80vw;
    animation: visi 2s forwards 1s ease-in-out;
    overflow: hidden;
     display: flex;
 flex-direction: column;
justify-content: space-around;
align-items: center;

 height: 100%;
 float: left;
 background-color: whitesmoke;
}

.img {
    width: 80vw;
}


nav {
    animation: visi 5s forwards ease-in-out;
    opacity: 0;
    background-color: #F2F2F2;
    height: 50px;
  padding: 10px 20px 0 10px;
}
svg {
    height: 30px;
}
.textcover {

 width: 0px;
 height: 0px;    

 
}
.text-wrapper {
   
    padding: 24px;
 position: absolute;
top: 20vh;
 width: 100%;
height: 100%;
 text-align: left;
 opacity: 0.9;
  transition: 0.5s ;
 color: whitesmoke;
 background-color:#000d1a;

 display: flex;
 flex-direction: column;
 justify-content: revert;
}
.texthidden {
    opacity: 0;
    transition: 0.5s ease-in-out;
}
.text {
    transition: 0.5s ease-in-out;
    font-size: 0.45em;
    opacity: 1;
}

.box-wrapper:hover .b2 {
    
    width: 80vw;
    transition: 0.5s ease-in-out;
}
.box-wrapper:hover .text {
    opacity: 1;
   transform: translateY(0px);
   transition: 1.2s ease-in-out;
}




/* PROFILE */




.b3 {
    
    z-index: 2;
    position: relative;
  overflow: hidden;
 width: 0vw;
 height: 100vh; 
 background-color:#000d1a;
  transition: 0.5s ease-in-out;

  
}

.project_type_inf {
    color: #ffffff;
    font-size: 16px;
    font-family: 'Crimson Pro', serif;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 8px;


}

.skills {
    width: 18px;
}

.profileimg {
width: 100vw;

mix-blend-mode: screen;
height: 14vh;
z-index: 2;
    object-fit: cover;
    position: absolute;
    top: 0;
}

.imgbox2 {
     z-index: 2;
     
    opacity: 1;
    position: block;
     display: block;
 flex-direction: column;
justify-content: space-around;
align-items: center;

 height: 100%;
 float: center;
 background-color: #000d1a;


}


.infotextwrapper {
    position: absolute;
top: 16vh;

 width: 100%;
 height: 100%;
 text-align: left;
 opacity: 0.9;
  transition: 0.5s ;
 color: whitesmoke;
 background-color:#000d1a;

 display: flex;
 flex-direction: column;
 justify-content: inherit;
}
.infotext {
    transition: 0.8s ease-in-out; 
    opacity: 1;

      color: #ffffff;
   
      margin-top: 0px;
      font-size: 12px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      width: 100%;
      
}


.comforts {
  display: flex;
  padding-top: 20px;
  padding-left: 0px;
}
ul {
  list-style: none; /* Remove default bullets */
  color: #f2f2f2;
  
  font-size: 16px;
  font-family: 'Crimson Pro', serif;
  font-weight: 500;
  font-style: italic;
    
}



li {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}


.designtool {
  padding-left: 80px;
}

.icon {
    display: flex;
       font-family: 'Montserrat', sans-serif;
  font-weight: 400;
    font-size: 12px;
}
.openinfo {
    width: 80vw;
     transition: 0.5s ease-in-out 1.4s;
}
.info_page {
    position: fixed;
    top: 0;
    padding-top: 10vh;
    left: 0;
    width: 100vw;
    height: 100%;
    
    background-color: #000d1a;
    
    opacity: 0;
    transition: 0.5s ease-in-out 1s;
}
.info_page_opa {
    opacity: 1;
    z-index: 11;
    transition: 0.5s ease-in-out 1s;
}

.button {
    margin-top: 24px;
  

    color: white;
    font-size: 20px;
    font-family: 'Crimson Pro', serif;
    font-weight: 500;
    font-style: italic;
   
    

}

.space {
    height: 60vh;
    width: 10px;
    
    }

    .comforts {
        display: none;
    }
}

@media screen and (max-width: 375px) {

    .comforts {
        display: none;
    }


}